body {
    background-image: url('../img/image.png');
}

.note {
    background-color: rgb(201, 185, 40);
    border: 1px solid rgb(59, 55, 55);
    box-shadow: 5px 5px 15px black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
}

#notes-container .note {
    max-width: 250px;
}

#notes-container {
    background-color: rgba(255, 255, 255, 0.6);
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid rgb(59, 55, 55);
    box-shadow: 5px 5px 10px black;
    text-align: center;
}

#notes-container>* {
    display: inline-block;
    margin-right: 5px;
}

#notes-container .note-photo-user {
    font-size: : 6pt;
    display: inline-block;
}

#notes-container .note-photo-user img {
    max-width: 64px;
    max-height: 64px;
    size: auto;
}

.note-right {
    display: inline-block;
    vertical-align: top;
}

#is-js-loading {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

#notes-container .note-titre {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}

legend {
    text-align: center;
}

form {
    background-color: rgb(201, 185, 40);
    margin-bottom: 10px;
}

#form-buttons {
    text-align: center;
}

#edit-note {
    margin-left: auto;
    margin-right: auto;
}

#edit-note,
#edit-note textarea {
    margin-left: auto;
    margin-right: auto;
}

#edit-note textarea {
    max-width: 80%;
}

#input-date,
#input-time {
    display: inline;
    width: 45%;
}

.invalid-input {
    background-color: red;
}

.img-close img {
    width: 15px;
    height: 15px;
}

.img-close {
    text-align: right;
    margin-bottom: -10px;
}

.note-right {
    margin-right: 15px;
}

#img-cross img {
    width: 15px;
    height: 15px;
}

#img-cross {
    text-align: right;
    margin-bottom: -10px;
}

#img-glob img {
    width: 15px;
    height: 15px;
}

#img-glob {
    text-align: left;
    margin-bottom: -10px;
}


/* gestion de la map*/

#left-form,
#right-form {
    display: inline-block;
}

#right-form {
    width: 200px;
    vertical-align: top;
    /* display: block; */
}